.container1{
    /* border:2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:sticky;
     top:0px;
     bottom: 30px;
     background-color: #fdfdfdda;
}
.menu{
    /* border:2px solid green; */
     display: flex;
     flex-wrap: wrap;
     /* position:sticky;
     top:40px;
     bottom: 30px; */
   
    /* margin-bottom: 80px; */
}
.menu-icon{
     display: inline;
}
.mobile-view i{
    display: none;
}
.image{
    width:100px;
    height:100px;
}
.image img{
    width:100%;
    height:100%;
}
ul{
    list-style-type: none;
     margin-top: 30px;
}
ul li{
   
    display: inline;
    margin-right: 20px;
}
ul li a{
    text-decoration: none;
    color: black;
      
    
}
a:hover{
    border:2px solid #c79e3c;
    border-radius: 40px;
    color:#c79e3c; 
    padding: 6px 15px;
}
.icon{
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    margin-right: 20px;
    margin-top: 20px;
}
.iconbox{
    padding:3px 3px;
    border:2px solid #c79e3c;
    border-radius: 50%;
    background-color: #c79e3c;
}
.iconbox i{
    font-size: 20px;
}
.container2{
    /* border:2px solid green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#eae7de ;
    /* margin-bottom: 10px; */
}
.mini-con2{
    border:2px solid orange;
    background-image: url('/image/2000_6656d40991b7f.png');
    text-align: center;
} 
.side-image{
    /* border:2px solid red; */
    width:40vw;
    height:100vh;
}
.side-image img{
    width:100%;
    height: 100%;
    
}
.frame{
    width:40vw;
    height:40vh;
    padding:30px;
    display: flex;
    flex-wrap: wrap;
}
.frame img{
     width:100%;
    height: 100%;
}
button{
    padding:15px 25px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.container3{
    display: flex;
    /* flex-wrap: wrap; */
    /* border:2px solid red; */
    /* justify-content: space-evenly; */
}
 .gallery{
    width:400px;
    height:300px;
 }
 .gallery img{
    width:100%;
    height:100%;
    opacity: 100%;
 } 
 .gallery img:hover{
    /* transition-delay: 1s; */
    transition-duration: 3s;
    transform: scale(0.5,0.5);
    opacity: 1%;

 } 
 @media only screen and (min-width:425px) and (max-width:768px){
    
    .container2{
    /* border:2px solid green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#eae7de ;
    /* margin-bottom: 10px; */
}
    
    
    .container3{
    display: flex;
    flex-wrap: wrap;
    /* border:2px solid red; */
    /* justify-content: space-evenly; */
}
    
    
    
    
    .mobile-view i{
        display:block;
        margin-top: 30px;
        margin-left: 60vw;
       
    }
    .hide{
        display: none;
    }
    .iconbox{
       display: none; 
    }
   .iconbox i{
   
     display: none;
}
ul{
    list-style-type: none;
     margin-top: 40px;
}
ul li{
   
    display: inline;
    margin-right: 20px;

}
iframe{
    width:40vw;
    height:40vh;
}
} 
